.home {
  min-width: 0;
  padding-bottom: 115px;
  overflow-x: hidden;

  header {
    @include Flex;
    h1 {
      font-size: 24px;
      line-height: 120%;
      color: #efeee0;
      margin-bottom: 12px;
    }
    align-items: flex-start;
    gap: 20px;
    .card-component {
      .light {
        font-size: 12px;
      }
      color: #fff;
      padding: 0;
      background: #609eaf;
      border-radius: 40px;
      width: min(686px, 100%);
      height: 373px;
      background-size: contain;
      background-position: right;
      background-repeat: no-repeat;
      .card_flex {
        @include Flex;
        align-items: flex-start;
        .card_text {
          display: flex;
          flex-direction: column;
          padding: 40px;
          gap: 60px;
        }
        .card_bottom {
          @include Flex;
          gap: 10px;
          .bottomimages {
            height: 24px;
            div {
              display: inline-flex;
              margin-left: -12px;
              align-items: center;
              height: 100%;
            }
          }
        }
      }
    }
    .charts {
      .shadow-card-component {
        width: 415px;
        @include Flex;
        justify-content: space-between;
        padding: 17px;
        margin-bottom: 12px;
        .fav {
          svg {
            height: 28.4px;
            width: 28.2px;
            border: 1px solid rgba(255, 255, 255, 0.11);
            padding: 4px;
            color: #facd66;
            border-radius: 50%;

            path {
              stroke: #facd66;
            }
          }
        }

        .grid {
          display: grid;
          grid-template-columns: 1fr 2fr;
          grid-template-rows: repeat(3, 1fr);
          column-gap: 10px;
          img {
            grid-row: 1 / span 3;
          }
          .song_title {
            font-size: 17px;
            line-height: 120%;
            &:hover {
              animation: bounce;
            }
          }
          .song_artist {
            font-size: 12px;
            line-height: 120%;

            color: rgba(255, 255, 255, 0.5);
          }
          .song_length {
            font-size: 12px;
            line-height: 120%;
          }
        }
      }
    }
  }
  .music_section {
    .card-component {
      img {
        width: 153px;
        height: 153px;
        margin-bottom: 8px;
      }
    }
    h1 {
      margin-block: 43px 10px;
      font-weight: 700;
      font-size: 24px;
      line-height: 120%;
      /* identical to box height, or 29px */

      /* light */

      color: #efeee0;
    }
    @media (min-width: 300px) {
      min-width: 100vw;
    }
  }
  @media (max-width: 768px) {
    padding: 0 25px;
    header {
      display: block;
      .card-component {
        img {
          display: none;
        }
      }
      .slider {
        width: 92vw;

        height: 230px;
        // margin: 20px;

        overflow: hidden;
      }
      .charts_slides {
        display: flex;
        align-items: center;
        overflow-x: scroll;
        overflow-y: hidden;

        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
        height: 240px;
        gap: 13px;
        .shadow-card-component {
          width: 300px;
          height: 233px;
          align-items: flex-start;

          .grid {
            display: block;
            img {
              width: 108px;
              height: 100px;
              margin-bottom: 15px;
            }
            .song_artist {
              margin-block: 6px 24px;
            }
          }
        }
      }
    }
  }
}
