@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

body {
  background-color: #1e1e1e;
  font-family: "Quicksand", sans-serif;
}
p {
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;

  color: #ffffff;
}
a {
  text-decoration: none;
}
